@import url('./custom.css');

.App {
  text-align: center;
 /* font-family: "Anonymous Pro", sans-serif;*/
 /* font-family: "Source Code Pro", sans-serif;*/
}

.App-logo {
  animation: App-logo-spin infinite 12s linear;
  height: 80px;
}

.App_header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-content-wrap {

}
.Suup-intro {
  font-size: .87rem;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  margin: 20px 0 0;
  background: #173245;
  border-top: 1px solid #888;
}
.footer p {
  margin: 0;
}
