@font-face {
  font-family: "Anonymous Pro", sans-serif;
  src: url("./fonts/anonymous_pro-webfont.woff") format("woff");
  src: url("./fonts/anonymous_pro-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Source Code Pro', sans-serif;
  src: url("./fonts/SourceCodePro-Light.otf") format("otf");
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Anonymous Pro', monospace;
}
html,
body,
#root,
.App {
  height: 100%;
}
hr {
  display: block;
  width: 50%;
  margin: 10px auto;
  border: 1px solid #ccc;
}
